<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Home</title>
<th:block th:insert="common/import-css"></th:block>
<link th:href="@{/css/header.css}" rel="stylesheet">
<link th:href="@{/css/common/calendar-content.css}" rel="stylesheet">
<link th:href="@{/css/common/hover.css}" rel="stylesheet">
<link th:href="@{/css/common/icon-size.css}" rel="stylesheet">
<link th:href="@{/css/common/spacing.css}" rel="stylesheet">
<link th:href="@{/css/common/schedule-color.css}" rel="stylesheet">
<th:block th:insert="common/import-js"></th:block>
<script th:src="@{/js/home.js}"></script>
</head>
<body>
	<div th:insert="common/header"></div>
	<div class="container">
		<h1 th:text="${userEntity.name} + ' さん'"></h1>
		<div class="col-xs-12 col-lg-6">
			<h3 class="text-center">お知らせ</h3>
			<ul class="list-group">
				 <li th:each="news: ${newsList}" class="list-group-item pointer-white news-list" data-bs-toggle="modal" data-bs-target="#exampleModalLive">
			 		<span th:text="${news.ymdFormatDate}" class="m-1"></span>
			 		<img th:src="${news.categoryFormatPngSrc}" class="icon-45">
					<img th:if="${news.srcPngNewIcon != null}" th:src="${news.srcPngNewIcon}" class="icon-45">
					<span th:text="${news.title}" class="fw-bold fs-5 position-absolute left-40 m-1 news-title"></span>
			 		<input th:value="${news.contentAfterBreakLine}" class="news-content" type="hidden">
				 </li>
				 <li th:if="${newsList.isEmpty}" class="list-group-item">
					<h1>お知らせはありません</h1>
				</li>
			</ul>
		</div>
		<div class="col-12 mt-3">
			<h3 class="text-center">シフト</h3>
			<div class="select-month-wrap">
				<a class="btn btn-success" th:href="'/home?ymd=' + ${beforeWeekYmd}"><i class="bi bi-caret-left"></i> 先週</a>
				<a class="btn btn-success" th:href="'/home?ymd=' + ${afterWeekYmd}"> 翌週 <i class="bi bi-caret-right"></i></a>
			</div>
			<table class="table table-bordered">
				<thead class="table-info">
					<tr>
						<th th:each="daySchedule: ${dayScheduleList}">
							<p th:if="${daySchedule.week  == 6}" th:text="${daySchedule.month} + '/' + ${daySchedule.day} + ' ' + '(' + ${daySchedule.weekFormatWeekDay} + ')'" class=" calendar-sattday text-center m-0"></p>
							<p th:if="${daySchedule.week  == 7}" th:text="${daySchedule.month} + '/' + ${daySchedule.day} + ' ' + '(' + ${daySchedule.weekFormatWeekDay} + ')'" class="calendar-sunday text-center m-0"></p>
							<p th:if="${daySchedule.week  != 6 && daySchedule.week  != 7}" th:text="${daySchedule.month} + '/' + ${daySchedule.day} + ' ' + '(' + ${daySchedule.weekFormatWeekDay} + ')'" class="text-center m-0"></p>
						</th>
					</tr>
				</thead>
				<tbody class="table-light">
					<tr>
						<td th:each="daySchedule: ${dayScheduleList}" class="width-80 height-110">
							<div th:each="isScheduleRecorded, isScheduleRecordedStatus: ${daySchedule.isScheduleRecordedArray}">
								<p th:if="${isScheduleRecorded}" th:text="${daySchedule.scheduleTimeEntity.scheduleTimeFormatList.get(__${isScheduleRecordedStatus.count - 1}__).name}" th:class="${scheduleTimeHtmlClassBgColorArray[__${isScheduleRecordedStatus.count - 1}__]} + ' text-center text-break d-inline-block px-1 mb-1'"></p>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- お知らせモーダル -->
	<div class="modal fade" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modal-news-title">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<h6 id="modal-news-date">Modal content</h6>
					<p id="modal-news-content">Modal content</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>