<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>403 Forbidden!</title>
    <th:block th:insert="common/import-css"></th:block>
    <link th:href="@{/css/common/cmn-error.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="content">
        <h1 class="error-title">Error : 403</h1>
        <p>Forbidden</p>
        <p>
            アクセスがブロックされました。<br>
            ご利用中のユーザーにアクセス権限がないかURLを間違えている可能性があります。
        </p>
        <div class="d-grid gap-2 d-md-block sugest-wrap">
            <button type="button" onclick="location.href='javascript:history.back()'" class="btn btn-secondary btn-lg sugest-btn mx-2">戻る</button>
            <button type="button" onclick="location.href='/home'" class="btn btn-secondary btn-lg sugest-btn mx-2">ホーム</button>
        </div>
    </div>
    <div class="back-ground">
        <i class="bi bi-hexagon bi-hexagon1"></i>
        <i class="bi bi-hexagon bi-hexagon2"></i>
        <i class="bi bi-hexagon bi-hexagon3"></i>
        <i class="bi bi-hexagon bi-hexagon4"></i>
        <i class="bi bi-hexagon bi-hexagon5"></i>
    </div>
</div>
</body>
</html>