.width-25 {
	width: 25px;
}
.width-40 {
	width: 40px;
}
.width-80 {
	width: 80px;
}
.width-100 {
	width: 100px;
}
.height-60 {
	height: 60px;
}
.height-110 {
	height: 110px;
}
.height-125 {
	height: 125px;
}

/* パーセント */
.left-per-40 {
	left: 40%;
}
.right-per-40 {
	right: 40%;
}
.height-per-65 {
	height: 65%;
}