<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unexpected Error!</title>
    <th:block th:insert="common/import-css"></th:block>
    <link th:href="@{/css/common/cmn-error.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="content">
        <p>
            Exception: <span th:text="${exceptionClassName}"></span><br>
            ErrorClass: <span th:text="${errorClassName}"></span><br>
            HttpStatus: <span th:text="${httpStatus}"></span><br>
            HttpStatusMessage: <span th:text="${httpStatusMessage}"></span><br>
            ErrorMassage: <span th:text="${errorMassage}"></span>
        </p>
        <h1 class="error-title">
            <span th:if="${httpStatus != null}" th:text="'Error : ' + ${httpStatus}"></span>
            <span th:if="${httpStatus == null}">Error : ***</span>
        </h1>
        <p th:if="${httpStatusMessage != null}" th:text="${httpStatusMessage}"></p>
        <p th:if="${httpStatusMessage == null}">Unexpected error</p>
        <p th:if="${errorMassage != null}" th:text="${errorMassage}"></p>
        <p th:if="${errorMassage == null}">予期せぬエラーが発生しました。</p>
        <div class="d-grid gap-2 d-md-block sugest-wrap">
            <button type="button" onclick="location.href='javascript:history.back()'" class="btn btn-secondary btn-lg sugest-btn mx-2">戻る</button>
            <button type="button" onclick="location.href='/home'" class="btn btn-secondary btn-lg sugest-btn mx-2">ホーム</button>
        </div>
    </div>
    <div class="back-ground">
        <i class="bi bi-hexagon bi-hexagon1"></i>
        <i class="bi bi-hexagon bi-hexagon2"></i>
        <i class="bi bi-hexagon bi-hexagon3"></i>
        <i class="bi bi-hexagon bi-hexagon4"></i>
        <i class="bi bi-hexagon bi-hexagon5"></i>
    </div>
</div>
</body>
</html>